.fundo-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botaoLayout {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .botaoLayout:hover {
    background-color: #ddd; /* Adapte a cor de fundo ao seu gosto */
    color: #333; /* Adapte a cor do texto ao seu gosto */
  }