code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color :blueviolet;
}

p{
  background-color:#ece8ee;
  padding: 10px;
}
body
{
  background-color:#8c719b;
  padding: 10px;
}


